*.egg
*.egg-info
*.mo
*.pyc
*.pyo
*.sublime-workspace
.*
**/*.egg-info/*
.Python
.python-version
__pycache__
env
# exclude
!.gitattributes
!.gitignore
/development-local.ini

# Vue built html
/src/api/frontend/

# Ignore build folder
build