alabaster==0.7.12
appdirs==1.4.4
attrs==20.2.0
Babel==2.8.0
beautifulsoup4==4.9.3
black==20.8b1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cornice==5.0.3
coverage==5.3
Deprecated==1.2.10
docutils==0.16
elasticsearch==7.9.1
elasticsearch-dsl==7.3.0
fancycompleter==0.9.1
hupper==1.10.2
idna==2.10
imagesize==1.2.0
iniconfig==1.1.1
isort==5.6.4
Jinja2==2.11.2
livereload==2.6.3
lxml==4.6.1
Mako==1.1.3
MarkupSafe==1.1.1
more-itertools==8.5.0
mypy-extensions==0.4.3
packaging==20.4
PasteDeploy==2.1.1
pathspec==0.8.0
pdbpp==0.10.2
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.13.1
py==1.9.0
PyGithub==1.53
Pygments==2.7.1
PyJWT==1.7.1
pyparsing==2.4.7
pyramid==1.10.4
pyramid-debugtoolbar==4.7
pyramid-mako==1.1.0
pyrepl==0.9.0
pytest==6.1.1
pytest-cov==2.10.1
python-dateutil==2.8.1
pytz==2020.1
pyupgrade==2.7.3
PyYAML==5.3.1
regex==2020.10.23
repoze.lru==0.7
requests==2.24.0
responses==0.12.0
rstcheck==3.3.1
simplejson==3.17.2
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.2.1
sphinx-autobuild==2020.9.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tokenize-rt==4.0.0
toml==0.10.1
tornado==6.0.4
translationstring==1.4
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.11
venusian==3.0.0
waitress==1.4.4
wcwidth==0.2.5
WebOb==1.8.6
WebTest==2.0.35
wmctrl==0.3
wrapt==1.12.1
zope.deprecation==4.4.0
zope.interface==5.1.2
