attrs==19.3.0
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
colander==1.7.0
cornice==4.0.1
cornice-swagger==0.7.0
coverage==5.0.3
elasticsearch==7.5.1
elasticsearch-dsl==7.1.0
fancycompleter==0.9.1
hupper==1.10.2
idna==2.9
iso8601==0.1.12
Mako==1.1.2
MarkupSafe==1.1.1
more-itertools==8.2.0
packaging==20.3
PasteDeploy==2.1.0
pdbpp==0.10.2
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.13.1
py==1.8.1
Pygments==2.6.1
pyparsing==2.4.6
pyramid==1.10.4
pyramid-debugtoolbar==4.5
pyramid-mako==1.1.0
pyrepl==0.9.0
pytest==5.3.5
pytest-cov==2.8.1
python-dateutil==2.8.1
repoze.lru==0.7
requests==2.23.0
responses==0.10.12
simplejson==3.17.0
six==1.14.0
soupsieve==2.0
translationstring==1.3
urllib3==1.25.8
venusian==3.0.0
waitress==1.4.3
wcwidth==0.1.8
WebOb==1.8.6
WebTest==2.0.34
wmctrl==0.3
zope.deprecation==4.4.0
zope.interface==4.7.2
